---
id: home-category-grid-tile
---
<a href="{{href}}" class="col-xs-12 col-sm-6 col-md-4 home-category-grid-tile {{background-color}} {{reverse-colors}}">
  <img class="home-category-grid-image {{class}}" src="/assets/images/home-category-grid/{{image-filename}}" />
  <div class="home-category-tile-title">{{label}}</div>
</a>
