---
id: short-header
---
<!-- Short Header -->
{{partial "mobile-nav" }}
{{partial "global-navbar"}}

<header class="short-header {{bgColor}}" >
  <div class="nav container {{compareClass}}">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row hero-content">
        <h1 class="col-xs-10">
          <span class="hero-title">{{hero1}} {{hero2}}</span>
        </h1>
        <h6 class="col-xs-2 hero-action">
           <a href="#">
             {{heroAction}}
             <div class="svg-rarr svg-rarr-dims"></div>
          </a>
        </h6>
      </div>
    </div>
  </div>
</header>
<!-- End Short Header -->
